.course{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    font-size: 20px;
    background-color: #F7F6F3;
    border-radius: 5px;
    margin-top: 10px;
}
.course:hover{
    background-color: #efe;
}
.it:nth-of-type(6){
    display: none;
    width: 5%;
    font-size: 22px;
    cursor: pointer;
}
.course:hover .it:nth-of-type(6){
    display: flex;
    justify-content: center;
    animation: show ease-in .2s;
}

@keyframes show {
    0%{
        transform: scale(0);
    }
    70%{
        transform: scale(1.2) ;
    }
    100%{
        transform: scale(1);
    }
}

.inputText{
    padding: .5rem .3rem;
    outline: none !important;
    width: 90% !important;
    
    border: none !important;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.inputText:focus{
    border: none;
}
.inputText:active{
    border: none;
}
.it:nth-of-type(1){
    width: 10%;
}
.it:nth-of-type(2){
    width: 25%;
    border-radius: 5px;
}
.it:nth-of-type(3){
    width: 20%;
}
.it:nth-of-type(4){
    width: 20%;
}
.it:nth-of-type(5){
    width: 20%;
}

@media (max-width: 768px) {
    .course{
        flex-wrap: wrap;
    }
    .it:nth-of-type(1){
        width: 10%;
        display: none;
    }
    .it:nth-of-type(2){
        width: 100%;
    }
    .it:nth-of-type(2),
    .it:nth-of-type(1){
        margin-bottom: .5rem;
    }
    .it:nth-of-type(3){
        width: 30%;
    }
    .it:nth-of-type(4){
        width: 30%;
    }
    .it:nth-of-type(5){
        width: 30%;
    }
    .it:nth-of-type(6){
        width: 10%;
        
    }
    .inputText{
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
}