.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 2rem 8%; 
    background-color: #fcfdfb;
    margin-top: 2rem;
    gap: 1.5rem;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 600;
    font-size: 1rem;
}
.text{
    text-align: left;
}

.icons{
    display: flex;
    align-items: center;
    gap: .8rem;
}